// Fonts

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

// Variables

$accent_color_main: #c4c4c4;
$accent_color_secondary: #ffda01;

// Typography

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.5rem;
}
// General

html {
    font-family: 'Roboto';
    box-sizing: border-box;
    font-size: 0.85rem;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style-type: none;
}

button {
    background: $accent_color_main;
    font-size: 1rem;
    border: none;
}
input {
    font-size: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 10% 1fr 1fr;
}

.center-column {
    grid-column-start: 2;
}

.one-char-input {
    width: 1ch;
}

.two-char-input {
    width: 2ch;
}

.three-char-input {
    width: 3ch;
}
.todoStrikeThru {
    text-decoration: line-through;
}

.invisible {
    display: none;
    position: absolute;
}
