// Fonts

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

// Variables

$accent_color_main: #c4c4c4;
$accent_color_secondary: #ffda01;

// Typography

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.5rem;
}
// General

html {
    font-family: 'Roboto';
    box-sizing: border-box;
    font-size: 0.85rem;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style-type: none;
}

button {
    background: $accent_color_main;
    font-size: 1rem;
    border: none;
}
input {
    font-size: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.settings-container {
    display: grid;
    grid-template-columns: 10% 1fr 1fr;
}

.timer-container {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
}

.side-drawer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    border-style: solid;
    border-width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    // padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 50%;
}

.side-drawer-open {
    filter: drop-shadow(-30px 30px);
    border-width: 1px;
    width: 50%;
}

.center-column {
    grid-column-start: 2;
}

.close-side-drawer-div {
    grid-row-start: 3;
    grid-column-start: 2;
}

.open-side-drawer-div {
    grid-column-start: 3;
    grid-row-start: 1;
}

.settingsNavBtn {
    grid-column-start: 1;
}

#currentTime {
    font-size: 7rem;
    text-align: center;
    width: 100%;
}

#pomTimerForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.timer-button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 40%;
}
.one-char-input {
    width: 1ch;
}

.two-char-input {
    width: 2ch;
}

.three-char-input {
    width: 3ch;
}

textarea {
    width: 100%;
    height: 50%;
}

#addTodoField,
.editBox {
    width: 14ch;
}

.todoStrikeThru {
    text-decoration: line-through;
}

.invisible {
    display: none;
    position: absolute;
}
